@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

$redish: #D72626;
$white: #E1E1E1;
$black: #333;
$cubic: cubic-bezier(.55,0,.1,1);

body {
  padding: 0;
  margin: 0;
  background: $white;
  color: $black;
}

.fixedHead {
  width: 100%;
  height: 500px;
  display: block;
  position: relative;
  background-image: url(http://www.socwall.com/images/wallpapers/44489-1920x1080.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% -215px;
  z-index: 100;
}

.shadower {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $redish;
  opacity: 0;
  z-index: 15;
}

.falseHeader {
  background: $redish;
  display: block;
  position: relative;
  top: 500px;
  height: 100px;
  width: 100%;
  z-index: 10;
  transition: height 0.2s $cubic;
}

.clipped {
  position: fixed;
  top: 0;
  height: 75px;
  .headerUp {
    transform: translateY(-100px);
  }
  .menu {
    line-height: 75px;
  }
}

.menuContainer {
  display: block;
  width: 800px;
  margin: 0 auto;
  z-index: 10;
}

.menu {
  line-height: 100px;
  transition: all 0.2s $cubic;
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    & li {
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      width: 25%;
      font-family: roboto;
      color: $white;
      font-size: 25px;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: $redish;
      }
    }
  }
}

.menu > ul > li {
  .subChoices {
    transform: translateY(-25%);
    cursor-event: none;
    width: 200px;
    position: absolute;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    transition: all 0.25s $cubic;
    opacity: 0;
    & li {
      font-size: 15px;
      line-height: 60px;
      display: block;
      width: 100%;
      color: $redish;
      background: #fff;
      &:hover {
        background: $redish;
        color: $white;
      }
    }
  }
  &:hover  {
    .subChoices {
      transform: translate(0);
      opacity: 1;
    }
  }
}

.menu .current {
  background: #fff;
  color: $redish;
  .subChoices {
    transform: translate(0);
    opacity: 1;
  }
}

.container {
  display: block;
  position: relative;
  width: 800px;
  margin: 100px auto;
  text-align: center;
  font-family: roboto;
  & iframe {
    width: 800px;
    height: 450px;
    margin-bottom: 75px;
  }
}

#firstSect .container{
  margin-top: 200px;
  & h1 {
    font-size: 30px;
  }
}

#mainTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/******************************************SECTIONS******************************************/
#bio .container{
  margin-top: 200px;
  & h1 {
    font-size: 30px;
  }
}

/******************************************  MODAL ******************************************/
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
